$transition-timeout: 1000ms;

.content-left-enter {
    opacity: 0;
    transform: translateX(-10vw)
}

.content-right-enter {
    opacity: 0;
    transform: translateX(10vw)
}

.content-bottom-enter {
    opacity: 0;
    transform: translateY(10vh)
}

.content-grow-enter {
    opacity: 0;
    transform: scale(.8);
}

.content-left-enter-active,
.content-right-enter-active,
.content-bottom-enter-active,
.content-grow-enter-active {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: opacity $transition-timeout, transform $transition-timeout;
}

// stars animation (n is number of stars required)
@function multiple-box-shadow ($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';

    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
    }

    @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
    }
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px)
    }
    to {
        transform: translateY(-2000px)
    }
}