@use './animations.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

$primary-color: #abd699; // lime
$secondary-color: #ffe26a; // lemon
$tertiary-color: #75c9b7; // teal
$quaternary-color: #c7ddcc; // mint
$quinary-color: #16123f; // navy
$senary-color: #fdf9db; // light lemon
$font-stack: 'Open Sans', sans-serif;
$min-height: 100vh;
$min-width: 100%;
$small-breakpoint: 480px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;

html {
    background-color: $quinary-color;
}

html,
body {
    height: $min-height;
    width: $min-width;
    overflow: hidden;
    margin: 0;
}

.app {
    text-align: start;
    overflow: scroll;
    height: $min-height;
    width: $min-width;
    scroll-snap-type: y proximity;

    section {
        height: $min-height;
        scroll-snap-align: start;
        position: relative;
    }
}

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $min-height;
    max-width: $min-width;
    padding-left: 5rem;
    padding-right: 3rem;
}

@media only screen and (max-width: $medium-breakpoint) {
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media only screen and (max-width: $small-breakpoint) {
    .content {
        overflow: scroll;
    }
}

.header {
    min-height: $min-height;

    & .background {
        background: linear-gradient(-45deg, $primary-color, $tertiary-color, $primary-color, $tertiary-color);
        background-size: 400% 400%;
        animation: gradient 7s ease infinite;
        min-height: $min-height;
        min-width: $min-width;
        position: fixed;
    }

    & .content {
        min-height: $min-height;
    }

    & h1,
    h5,
    h6,
    p {
        margin: 0
    }

    & h5 span {
        margin: 1rem;
        background-color: $secondary-color;
        box-shadow: 0rem 0rem 0rem 1rem $secondary-color;
    }

    & .photo {
        width: 90%;
        margin-left: 2rem;
        box-shadow: inset -.5rem -.5rem 0 .75rem white;
        -webkit-filter: grayscale(90%) brightness(150%) drop-shadow(1rem 1rem 0 $secondary-color) drop-shadow(1rem 1rem 0 $quinary-color);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(90%) brightness(150%) drop-shadow(1rem 1rem 0 $secondary-color) drop-shadow(1rem 1rem 0 $quinary-color);
    }

    & .logo {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 1rem;
        filter: brightness(0) invert(1);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.portfolio {
    min-height: $min-height;

    & .title {
        margin-bottom: 2rem;
        color: white;

        span {
            margin: 1rem;
            background-color: $quinary-color;
            box-shadow: 0rem 0rem 0rem 1rem $quinary-color;
        }
    }

    & .content {
        background: $quaternary-color;
        min-height: $min-height;

        & .projects {
            height: $min-height;
            scroll-snap-type: y proximity;

            & .project {
                scroll-snap-align: start;
                margin: 2rem;
                height: calc($min-height - 4rem);

                & .description {
                    overflow: scroll;

                    span {
                        padding: 2rem;
                    }
                }

                & .artifacts {
                    & .artifact {
                        & img {
                            width: $min-width;
                        }
                    }
                }
            }
        }
    }

}

.primary {
    background: $primary-color;
    color: $quinary-color;
}

.secondary {
    background: $secondary-color;
    color: $quinary-color;
}

.tertiary {
    background: $tertiary-color;
    color: white;
}

.quaternary {
    background: $quaternary-color;
    color: $quinary-color;
}

.quinary {
    background: $quinary-color;
    color: white;
}

.senary {
    background: $senary-color;
    color: $quinary-color;
}