@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

$primary-color: #abd699; // lime
$secondary-color: #ffe26a; // lemon
$tertiary-color: #75c9b7; // teal
$quaternary-color: #c7ddcc; // mint
$quinary-color: #16123f; // navy
$senary-color: #fdf9db; // light lemon
$font-stack: 'Open Sans', sans-serif;

html {
    background-color: $quinary-color;
}

.app {
    text-align: start;
}

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    width: 100vw;
    background: linear-gradient(335deg, #abd699 0%, #75c9b7 100%);
}

.header {
    min-height: 100vh;
}

.header .background {
    background: linear-gradient(335deg, #abd699 0%, #75c9b7 100%);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.header h1, h5, h6 {
    font-family: $font-stack;
    color: white;
    margin: 0;
}

.header h1 {
    font-size: 6rem;
    font-weight: 800;
}

.header h5 {
    font-size: 2rem;
    font-weight: 300;
}

.aboutMe {
    min-height: 100vh;
}

.aboutMe .background {
    background-color: $quinary-color;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.aboutMe .content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}