@use './animations.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

$primary-color: #abd699; // lime
$secondary-color: #ffe26a; // lemon
$tertiary-color: #75c9b7; // teal
$quaternary-color: #c7ddcc; // mint
$quinary-color: #16123f; // navy
$senary-color: #fdf9db; // light lemon
$font-stack: 'Open Sans', sans-serif;
$min-height: 100vh;
$min-width: 100vw;

html {
    background-color: $quinary-color;
}

.app {
    text-align: start;
}

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $min-height;
    max-width: $min-width;
    padding-left: 5rem;
    padding-right: 3rem;
}

@media only screen and (max-width: 768px) {
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.header {
    min-height: $min-height;
}

.header .background {
    background: linear-gradient(-45deg, $primary-color, $tertiary-color, $primary-color, $tertiary-color);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    min-height: $min-height;
    width: $min-width;
    position: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header .content {
    min-height: $min-height;
}

.header img {
    width: 90%;
    margin-left: 2rem;
    box-shadow: inset -.5rem -.5rem 0 .75rem white;
    -webkit-filter: grayscale(90%) brightness(150%) drop-shadow(1rem 1rem 0 $secondary-color) drop-shadow(1rem 1rem 0 $quinary-color);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(90%) brightness(150%) drop-shadow(1rem 1rem 0 $secondary-color) drop-shadow(1rem 1rem 0 $quinary-color);
}

.header h1,
h5,
h6,
p {
    margin: 0;
}

.header h5 span {
    margin: 1rem;
    background-color: $secondary-color;
    box-shadow: 0rem 0rem 0rem 1rem $secondary-color;
}

.aboutMe {
    min-height: 100vh;
}

.aboutMe .content {
    background: $senary-color;
    min-height: $min-height;
    width: $min-width;
}

.aboutMe p {
    font-family: $font-stack;
    color: $quinary-color;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
}